body {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
* {
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
#header_container {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  padding: 0em 0.65em 0.5em 0.65em;
  border-bottom: 0.05em solid hsl(240, 2%, 23%);
}
#leaderboard_icon {
  margin-right: 10px;
}
#Title {
  color: #ffffff;
  font-size: 1.75em;
  font-weight: bold;
  letter-spacing: 0.01em;
}
.icons {
  width: 1.5em;
  height: 1.5em;
  fill: #ffffff;
}

.flex {
  display: flex;
}
@media screen and (max-width: 480px) {
  #header_container {
    padding: 0em 0.7em 0.95em 0.7em;
    margin: 0.7em 0;
    border-bottom: 0.25em solid hsl(240, 2%, 23%);
  }
  .icons {
    width: 2.25em;
    height: 2.25em;
  }
  #Title {
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
  .gameboard-container {
    margin-top: 3em;
  }
  .letters {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 4em;
  }
  .tile,
  .tile-rows {
    gap: 0.5em;
  }
  #keyboard-container {
    gap: 0.5em;
    margin-top: 2em;
    grid-auto-rows: 3.5em;
  }
  .keys {
    font-size: 1.5em;
    width: 2.25em;
    height: 2.25em;
  }
  .keys_xl {
    column-span: 3;
    width: 3.5em;
  }
  .container {
    width: 90%;
    font-size: 1.35em;
  }
  .leaderboard {
    width: 80%;
    font-size: 2em;
  }
  #leaderboard-title {
    font-size: 1.5em;
  }
  .header {
    margin-bottom: 2em;
  }
}
