#header_container {
  background-color: rgb(18, 18, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
#leaderboard_icon {
  margin-right: 10px;
}
#Title {
  color: #ffffff;
}
.icons {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.font_xl {
  font-size: 32px;
}
